{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <div class="login-content">
            <div>
                <a href="{{ path('main_index') }}" class="btn btn-secondary float-start">
                    Accès au formulaire
                </a>

                <a href="{{ path('admin') }}" class="btn btn-primary float-end">
                    Admin
                </a>
            </div>

            <div class="w-100 text-center p-3">
                <h1>Liste de contacts</h1>
            </div>

            <div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.firstName }}</td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.createdAt|date("H:i - m/d/Y") }}</td>
                            <td>{{ contact.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="paginate">
                    {% if currentPage > 1 %}
                        <a href="{{ path('main_list', {page: currentPage-1}) }}" class="btn btn-light float-start">
                            Précédent
                        </a>
                    {% endif %}

                    <button disabled class="disabled btn">Page {{ currentPage }} sur {{ totalPages }}</button>

                    {% if currentPage < totalPages %}
                        <a href="{{ path('main_list', {page: currentPage+1}) }}" class="btn btn-light float-end">
                            Suivant
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
